.container {
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--gray-100);
  background: var(--gray-100);
  font-size: 0.9rem;
  margin-bottom: 12px;
  font-family: "LinoWrite";
}

.input[type="password"]::placeholder {
  font-family: "LinoWrite";
}

.input[type="password"] {
  font-family: "Montserrat";
}
