.container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: var(--white);
}

.option {
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px 30px;
  border-radius: 12px;
}

.option + .option {
  margin: 40px 0px 0px;
}

.option img {
  width: 75%;
}

.option span {
  font-size: 0.75rem;
  max-width: 300px;
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 12px 30px;
  border-radius: 8px;
  border: 1px solid var(--yellow-500);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--yellow-500);
  transition: filter 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button:hover {
  filter: brightness(0.95);
}

.button + .button {
  margin-top: 10px;
}

.buttonDisabled {
  padding: 12px 30px;
  border-radius: 8px;
  border: 1px solid var(--yellow-500);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--yellow-500);
  transition: filter 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: not-allowed;
  filter: brightness(0.75);
}

.buttonDisabled + .buttonDisabled {
  margin-top: 10px;
}

@media (min-width: 1080px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .option {
    margin: 0px 15px 0px 0px;
    min-height: 600px;
  }

  .option + .option {
    margin: 0px 0px 0px 15px;
  }
}
